/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #041324;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffffff;
}

.gallery{
    width:100%;
    border: 2px solid #babb8d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}
.gallery:hover {
    border: 1px solid #060533;
  }

.top-round-rainbow {
background: white;
border-radius: 4px;

background-image: repeating-linear-gradient(to right,
#c4e17f 0px, #c4e17f 50px,
#f7fdca 50px, #f7fdca 100px,
#fad071 100px, #fad071 150px,
#f0766b 150px, #f0766b 200px,
#db9dbe 200px, #db9dbe 250px,
#c49cdf 250px, #c49cdf 300px,
#6599e2 300px, #6599e2 350px,
#61c2e4 350px, #61c2e4 400px);
background-size: 100% 10px;
background-repeat:no-repeat;
}

