/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

input[type="text"] {
    padding: 0.5rem;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #041324;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffffff;
}

.gallery{
    width:100%;
    border: 2px solid #babb8d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}
.gallery:hover {
    border: 1px solid #060533;
  }

.top-round-rainbow {
background: white;
border-radius: 4px;

background-image: repeating-linear-gradient(to right,
#c4e17f 0px, #c4e17f 50px,
#f7fdca 50px, #f7fdca 100px,
#fad071 100px, #fad071 150px,
#f0766b 150px, #f0766b 200px,
#db9dbe 200px, #db9dbe 250px,
#c49cdf 250px, #c49cdf 300px,
#6599e2 300px, #6599e2 350px,
#61c2e4 350px, #61c2e4 400px);
background-size: 100% 10px;
background-repeat:no-repeat;
}
/*button stop*/
.call-buton .cc-calto-action-ripple {
	z-index: 99999;
	position: fixed;
	right: 1rem;
	bottom: 8rem;
	background: #215;
	width: 4rem;
	height: 4rem;
	padding: 1rem;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; }
	.call-buton .cc-calto-action-ripple i {
	  -webkit-transition: 0.3s ease;
	  transition: 0.3s ease;
	  font-size: 2.2rem; }
	.call-buton .cc-calto-action-ripple:hover i {
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg); }
  
  @-webkit-keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 0 rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2);
	  box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 0 rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
  
  @keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 0 rgba(62, 10, 184, 0.2), 0 0 0 5px rgba(16, 6, 107, 0.2), 0 0 0 10px rgba(43, 9, 136, 0.2);
	  box-shadow: 0 4px 10px rgba(7, 2, 78, 0.2), 0 0 0 0 rgba(12, 2, 66, 0.2), 0 0 0 5px rgba(14, 2, 68, 0.2), 0 0 0 10px rgba(39, 3, 139, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(110, 0, 236, 0.2), 0 0 0 5px rgba(110, 0, 236, 0.2), 0 0 0 10px rgba(110, 0, 236, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }

	span.num{
		position: absolute;
    color: #215;
    left: -30%;
    bottom: -50%;
	}